### Python Based Questions

Q1) Write the code to print sum_val of
a) 10 odd numbers starting from 1 using for loop
b) 15 even numbers starting from 2 using while loop

In [1]:
# a.1
sum_val = 0
num = 1
odd_list = []
for i in range(10):
    sum_val+=num
    odd_list.append(num)
    num+=2
   
print(sum_val)
print(odd_list)

100
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [2]:
# a.2
sum_val = 0 
count = 0
for i in range(1,100): # sufficient range to find 10 odd numbers
    if i%2 != 0:
        sum_val += i 
        count +=1
    if count == 10:
        break 
print(sum_val)

100

In [3]:
#b.1
n = 2
sum_val = 0
count = 0 
even_list = []
while count < 15:
    if n%2 ==0:
        sum_val+= n
        count+=1
        even_list.append(n)
    n+=1
print(sum_val)
print(even_list)

240
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Q2) Consider any list of numbers
a) add 5 to each even number and print them.
b) multiple 3 to each odd number and print them.

In [4]:
# a 
even = [] 
for i in range(1,20):
    if i%2==0:
        even.append(i+5)
print(even)

[7, 9, 11, 13, 15, 17, 19, 21, 23]

In [5]:
# b.1
odd = []
for i in range(1,20):
    if i%2!=0:
        odd.append(i*3)
print(odd)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57]

In [6]:
#b.2
odd = [i*3 for i in range(1,20) if i%2!=0 ]
print(odd)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57]

Q3) Write a program that calculates the sum_val of all even numbers between 1 and 100 using a loop.

In [7]:
sum_val = 0
for i in range(1,101):
    if i%2 == 0:
        sum_val+=i
print(sum_val)

2550

Q4) Accpet a number from the user and print
a) All the factors of the numbers.
b) Print even or odd depending on the number.

In [8]:
n = int(input("Provide the number : "))
factors = []
for i in range(1,n+1):
    if n%i == 0:
        factors.append(i)
print(factors)
if n%2 == 0:
    print("even")
else:
    print("odd")

Provide the number :  12

[1, 2, 3, 4, 6, 12]
even

Q5) Accept a number k from the user and print
a) Whether k is positive or negative number.
b) If k is positive then print all the squares of the number starting from 1 upto k
c) If k is neqative then print the average of all numbers from k upto -1

In [9]:
k  = int(input("enter the num: ")) 
if k < 0 :
    print("K is negative")
else:
    print("K is positive")
if k > 0 :
    squares = []
    for i in range(1,k+1):
        squares.append(i**2)
    print(squares)
else:
    sum_val = 0
    count = 0 
    for i in range(k,0):
        sum_val+=i
        count+=1
    print(f"mean is {sum_val/count}")

enter the num:  12

K is positive
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

Q6) Write a function to that prints the multiplication table of a given number n up to 10. Use n as argument.

In [10]:
def mul_table(n):
    for i in range(1,n+1):
        print(f"{i}*{n} = {i*n}")

In [11]:
mul_table(10)

1*10 = 10
2*10 = 20
3*10 = 30
4*10 = 40
5*10 = 50
6*10 = 60
7*10 = 70
8*10 = 80
9*10 = 90
10*10 = 100

Q7) Accpet an input from the user in the range 1-26. Generate the corresponding
a) upper case alphabets for all the multiple of 3 less than equal to that number
'a' - 'z' = 97 to 122
'A' - 'Z' = 65 to 90

In [12]:
n = int(input("enter number between 1 to 26:" ))
if 1<=n<=26:
    for i in range(1,n+1):
        if i %3 == 0 :
            print(chr(64+i),end = " ")
else:
    print("invalid number enter between 1 to 26")

enter number between 1 to 26: 12

C F I L

Q8) Accpet a number from user. Find the sum_val and product of its digits.

In [13]:
num = int(input("enter the number: "))
sum_val = 0 
prod  = 1
while num > 0:
    sd  = num % 10 
    sum_val += sd
    prod *= sd
    num = num//10
print("sum_val is ",sum_val)
print("product is ",prod)

enter the number:  112

sum_val is  4
product is  2

Q9) Accept date as input from user in format YYYY-MM-DD. Add 5 year to the given date and return the result in format MM/DD/YY (without any library)

In [ ]:
date = "2022-01-27"
d = date.split("-")
new_date = d[1] + "/" + d[2] + "/" + str(int(d[0]) + 5)
print(new_date)

Q10) Create a Rock-Paper-Scissor game between user and computer where computer selects a ranodm value between Rock, paper or scissor and user enters a value between Rock, paper or scissor. Decide the winner between User and Computer based on following rules Rules
a) Rock and Paper => Paper wins (as Paper covers rock).
b) Rock and Scissors => Rock wins (as Rock smashes paper).
c) Paper and Scissors => Scissors (as Scissors cut papers).
d) If user enters anything other than Rock, Paper or Scissors => Invalid Entry

In [ ]:
import random
choices = ["rock","paper","scissors"]
computer_choice = random.choice(choices)
user_choice = input("select between rock,paper,scissors:").lower()

print("user choice",user_choice)
print("computer choice", computer_choice)
if user_choice not in ["rock","paper","scissors"]:
    print("invalid user entry")
elif computer_choice == user_choice:
    print("it is a tie")
elif computer_choice == "rock":
    if user_choice == "paper":
        print("user wins")
    else:
        print("computer wins")
elif computer_choice=="paper":
    if user_choice == "rock":
        print("computer wins")
    else:
        print("user wins")
elif computer_choice=="scissors":
    if user_choice == "rock":
        print("user wins")
    else:
        print("computer wins")

Q11) A list of words is given. Convert the words into uppercase.

In [ ]:
list1 = ['inDia','NepaL','AuStraLia','IrEland','jaPAn','egypt']
new_list = []
for i in list1:
    new_list.append(i.upper())
print(new_list)

Q12) Accept a list of electronic products from the user. Write a program to extract the words from the given list which have their first character as upper case

In [ ]:
list1 = ['Laptop', 'desktop','mobile', 'Smartwatch', 'Drones']
new_list = []
for i in list1:
    if i[0] == i[0][0].upper():
        new_list.append(i)
print(new_list)

In [ ]:
# OR
list1 = ['Laptop', 'desktop','mobile', 'Smartwatch', 'Drones']
new_list = []
for i in list1:
    if i[0].isupper():
        new_list.append(i)
print(new_list)

Q13) Write a program swap the keys to values and values to keys in the given dictionary.
Course = {'Tableau':10,'Java':20, 'Azure':35, 'AWS':45,'Kubernetes':55}

In [ ]:
Course = {'Tableau':10,'Java':20, 'Azure':35, 'AWS':45,'Kubernetes':55}
course = {}
for k,v in Course.items():
    course[v]=k
print(course)

Q14) Define a function to check whether a number is in a range (500,50000) or not.

In [ ]:
def check_num(n):
    if 500 <= n <= 50000:
        print('n is in the range')
    else:
        print('n is not in the range')

In [ ]:
check_num(888)

Q15) Accept a list of marks from the user. Write a program to calculate the sum_val and average of all elements in the list.

In [23]:
list1 = [78,56,85,67,93,80,58]
def sum_avg(list1):
    sum_val= sum(list1)
    avg = sum_val/len(list1)
    print("sum_val",sum_val)
    print("avg",round(avg,2))

In [24]:
sum_avg(list1)

sum_val 517
avg 73.86

Q16) Accept a list of dates (dd-mm-yyyy) from the user. Create a new list that stores years i.e. the 'yyyy' part extracted from the dates in the given list.

In [27]:
datesList = ['23-10-2001','04-03-2010','12-06-2019','28-12-2021']
new_list = []
for i in datesList:
    y = i.split("-")
    new_list.append(y[2])
print(new_list)

['2001', '2010', '2019', '2021']

Q17) Sort the given list in descending order of the second element of the tuple.
planets = [("Earth",3),("Jupiter",5),("Mercury",1),("Mars",4), ("Neptune",8),("Saturn",6),("Uranus",7),("Venus",2)]

In [46]:
planets = [("Earth",3),("Jupiter",5),("Mercury",1),("Mars",4), ("Neptune",8),("Saturn",6),("Uranus",7),("Venus",2)]
Planets = sorted(planets,key = lambda x : x[1], reverse = True)
print(Planets)

[('Neptune', 8), ('Uranus', 7), ('Saturn', 6), ('Jupiter', 5), ('Mars', 4), ('Earth', 3), ('Venus', 2), ('Mercury', 1)]

Q18) Accept a list of int from user. Replace all the odd numbers in the list with -1
a) with list comprehension
b) without list comprehension

In [57]:
# a
list1 = [23,34,45,56,67,78,89,12,15,57,38]
updated_list = [-1 if i%2!=0 else i for i in list1 ]
updated_list

[-1, 34, -1, 56, -1, 78, -1, 12, -1, -1, 38]

In [58]:
# b
new_list = []
for i in list1:
    if i%2!=0:
        new_list.append(-1)
    else:
        new_list.append(i)
new_list

[-1, 34, -1, 56, -1, 78, -1, 12, -1, -1, 38]

Q19) Write a program to count the positive and negative numbers.
num = [-45, 23, 32, -19, -6, 20, 27, 18, -12]

In [59]:
num = [-45, 23, 32, -19, -6, 20, 27, 18, -12]
cp = 0
cn = 0
for i in num:
    if i > 0:
        cp+=1
    else:
        cn+=1
print("count_positive",cp)
print("count_negative",cn)

count_positive 5
count_negative 4

Q20) Accept a list of int from user and a number k <len(list). Rotate the list from
a) left to right by k and print the list using a function that takes list and k as arguments
b) right to left by k and print the list using a function that takes list and k as arguments

Q21) Accept a list of names(repeated) names and marks.Compute the sum of marks in form of a dict

In [64]:
names = ["A", "B", "A" ,"C", "D","A","B", "D","C"]
marks = [78 ,45 ,89 ,91 ,76 ,56 ,51 ,67, 73]
dict1 = {}
for i in range(len(names)):
    name = names[i]
    mark = marks[i]

    if name in dict1:
        dict1[name] += mark
    else:
        dict1[name] = mark
print(dict1)

{'A': 223, 'B': 96, 'C': 164, 'D': 143}

Q22) WAF to print all the prime numbers between two numbers (n1,n2). The numbers (n1,n2) are passed as an argument

In [177]:
def find_prime(n1,n2):
    prime = []
    for i in range(n1,n2+1):
        c = 0
        for j in range(1,i+1):
            if i%j == 0:
                c+=1
        if c==2:
            prime.append(i)  
    print(prime)

In [179]:
find_prime(5,10)

[5, 7]

Q23) Find the sports that are played indoor from the tuple given below.
sports = (('Chess','indoor'), ('Cricket', 'Outdoor'), ('Carrom','indoOr'), ('Badminton','Indoor'), ('Football','Outdoor'), ('Darts','iNdoor'), ('Swimming','Outdoor'), ('Trampoline','Indoor'))
Sample Output
Sample Indoor: ['Chess', 'Carrom', 'Badminton', 'Darts', 'Trampoline']
a) solve using for loop.
b) solve using list comprehension
c) solve using lambda, map and filter

In [69]:
# a
Ind_games = []
Out_games = []
sports = (('Chess','indoor'), ('Cricket', 'Outdoor'), ('Carrom','indoOr'), ('Badminton','Indoor'), ('Football','Outdoor'), ('Darts','iNdoor'), ('Swimming','Outdoor'), ('Trampoline','Indoor'))
for i in sports:
    if i[1].lower() == "indoor":
        Ind_games.append(i[0])
    else:
        Out_games.append(i[0])
print('Ind_games',Ind_games)
print('Out_games',Out_games)

Ind_games ['Chess', 'Carrom', 'Badminton', 'Darts', 'Trampoline']
Out_games ['Cricket', 'Football', 'Swimming']

In [75]:
# b
Ind_games = [i[0] for i in sports if i[1].lower() == "indoor"]
Out_games = [i[0] for i in sports if i[1].lower() == "outdoor"]
print(Ind_games)
print(Out_games)

['Chess', 'Carrom', 'Badminton', 'Darts', 'Trampoline']
['Cricket', 'Football', 'Swimming']

Q24) Create a dictionary containing 4 lambda functions using x as lambda parameter
Pass the value (input from the user) to the functions in the dictionary respectively. 
Then add the outputs of each function and print it

In [291]:
d1 = {'e1':lambda x : (2*x)-3, 'e2':lambda x : (x**2)+5,'e3':lambda x : (x**0.5)-5,'e4':lambda x : (x**3)+1}

In [293]:
x = int(input('enter x value: '))
result = 0
for i in d1:
    result+= d1[i](x)
print(result)

enter x value:  9

829.0

Q25) A dictionary of fruits and their price is given for city A. Find fruit's price for city B. 
(Use map and lambda functions). Result shoul dbe rounded up to 2 decimal places
Formula : price_B = (price_A * Criteria_B) / Criteia_A
fruits_A = {'Mango':85, 'Watermelon':50, 'Guava':45,'Grapes':70}
Criteria_A: 4.7
Criteria_B: 11.34
Output:
Fruits_B: {'Mango': 205.08, 'Watermelon': 120.63, 'Guava': 108.57, 'Grapes': 168.89}

In [299]:
fruits_A = {'Mango':85, 'Watermelon':50, 'Guava':45,'Grapes':70}
fruits_B = {}
for k,v in fruits_A.items():
    fruits_B[k] = round((v*11.34)/4.7,2)
print(fruits_B)

{'Mango': 205.09, 'Watermelon': 120.64, 'Guava': 108.57, 'Grapes': 168.89}

In [301]:
fruits_B = {k:round((v*11.34)/4.7,2) for k,v in fruits_A.items()}
fruits_B

{'Mango': 205.09, 'Watermelon': 120.64, 'Guava': 108.57, 'Grapes': 168.89}

In [304]:
fruits_B = dict(map(lambda x : (x[0],round((x[1]*11.34/4.7),2)),fruits_A.items()))
fruits_B

{'Mango': 205.09, 'Watermelon': 120.64, 'Guava': 108.57, 'Grapes': 168.89}

Q26) Segregate the comments based on metro and non-metro cities

Metro_city = ['Delhi','Kolkata', 'Mumbai', 'Bangalore']
Non_metro_city = ['Ayodhya','Shimla']

comments = ['Covid hits again in Delhi', 'Covid XE variant has its roots in Mumbai', 
'Water shortage in Shimla has not been resolved completely', 
'Authors have a community in Kolkata', 'AI based jobs are flooded in Bangalore', 
'Diwali in Ayodhya went into Guinness records for lighting most diyas']

Output
['Metro_city','Metro_city','Non_metro_city','Metro_city','Metro_city','Non_metro_city']

In [313]:
Metro_city = ['Delhi','Kolkata', 'Mumbai', 'Bangalore']
Non_metro_city = ['Ayodhya','Shimla']
output = []
comments = ['Covid hits again in Delhi', 'Covid XE variant has its roots in Mumbai', 
'Water shortage in Shimla has not been resolved completely', 
'Authors have a community in Kolkata', 'AI based jobs are flooded in Bangalore', 
'Diwali in Ayodhya went into Guinness records for lighting most diyas']

for i in comments:
    if any (city in i for city in Metro_city):
        output.append('Metro_City')
    else:
        output.append('Non_Metro City')
print(output)

## any(condition for item in iterable)

['Metro_City', 'Metro_City', 'Non_Metro City', 'Metro_City', 'Metro_City', 'Non_Metro City']

Q27) Write a function to print k prime numbers smaller than a given number n where k and n are integers where k < n
Function call
kprime_less_than_n(7,78)
Sample Output
[47, 53, 59, 61, 67, 71, 73]

Q28) Accept a list of words as user input. Create a dictionary containing word length as its key 
and word(printed from right to left) if its length is even otherwise word(printed from left to right) as its value using
a) Dict comprehension
b) Without dict comprehension
Sort the dict in descending order of its keys.

In [326]:
words = input().split()
d = {len(i):i[::-1] if len(i)%2==0 else i for i in words }
d = sorted(d.items(), key = lambda x : x[0],reverse=True)
print(d)

 nidhi lovely goa

[(6, 'ylevol'), (5, 'nidhi'), (3, 'goa')]

Q29) Write a recursive function to generate n terms for fibonacci series
Function call
fib(10)
Sample Output
[0,1,1,2,3,5,8,13,21,34]

Q30 ) Accept x and y as initial source coordinates of a player as user input. 
Accept a string containing player's movement(movement can be L(left),R(right),T(Top) or B(Bottom) one step at a time).
The player moves according to movement in the given order and reaches the destination. 
Display the final coordinates of the player. Find the distance between source and destination

Sample Input
5 9
TTRRRTBL
Sample Output
Final coordinates: 7 11
Distance: 2.83

In [ ]:
x = 5
y = 9
move = "left"

Q31) For the list num, square each number and return output in a tuple/
num = [5,8,3,12,7,10]

In [329]:
num = [5,8,3,12,7,10]
output = tuple(i**2 for i in num)
print(output)

(25, 64, 9, 144, 49, 100)

In [330]:
output = tuple(map(lambda x : x**2, num))
output

(25, 64, 9, 144, 49, 100)

In [ ]:
Q34) Write a function that takes a list of strings and returns a list of their lengths using
s = ['apple','guava','dragon fruit','mango']

In [332]:
s = ['apple','guava','dragon fruit','mango']
def print_len(s):
    len_st = []
    for i in s:
        len_st.append(len(i))
    return len_st

In [333]:
print_len(s)

[5, 5, 12, 5]

In [334]:
s1 = [len(i) for i in s]
s1

[5, 5, 12, 5]

In [338]:
s2 = list(map(lambda x: len(x),s))
s2

[5, 5, 12, 5]

Q35) Filter all the words that contain the character 'a' from the below list.
words = ['Meta','Instagram','Snapchat','Welcome','Google','Youtube','Python']

In [340]:
words = ['Meta','Instagram','Snapchat','Welcome','Google','Youtube','Python']
words_a = list(filter(lambda x : "a" in x,words))
words_a

['Meta', 'Instagram', 'Snapchat']

Q36) Extract all words that ends with e and then convert their last 2 digits in upper case 
words = ['Hello','Welcome','Game','Toy','Kite','Yellow','Orange']

In [350]:
words = ['Hello','Welcome','Game','Toy','Kite','Yellow','Orange']
word_e = []
for i in words:
    if i.endswith("e"):
        word_e.append(i[:-2]+i[-2:].upper())
print(word_e)

['WelcoME', 'GaME', 'KiTE', 'OranGE']

Q37) Find sum of numbers from 5 to 10 using for loop.

In [80]:
sum_val = 0
for i in range(5,11):
    sum_val+=i
print(sum_val)

45

In [ ]:
Q38) Find sum of all odd numbers from 40 to 60 using for loop

In [81]:
sumv = 0
for i in range(40,61):
    if i%2!=0:
        sumv+=i
print(sumv)

500

Q39) Find sum of even num & sum of numbers between 20 to 40

In [82]:
es, os = 0,0
for i in range(20,41):
    if i%2==0:
        es+=i
    else:
        os+=i
print('es',es)
print('os',os)

es 330
os 300

Q40) Accept a string as user input. Using for loop print string from
1) left to right using neg indexes
2) right to left using pos indexes
3) right to left using neg indexes

In [86]:
st = 'Konika'
#1
for i in range(-len(st),0,1):
    print(i,st[i])

-6 K
-5 o
-4 n
-3 i
-2 k
-1 a

In [90]:
#2
for i in range(len(st)-1,-1,-1):
    print(i,st[i])

5 a
4 k
3 i
2 n
1 o
0 K

In [95]:
#3
for i in range(-1,-len(st)-1,-1):
    print(i,st[i])

-1 a
-2 k
-3 i
-4 n
-5 o
-6 K

Q41)  Find sum of num div by 3 from 35 to 55 using while loop

In [100]:
n = 35
sumv = 0
while n < 56:
    if n%3 ==0:
        sumv+=n
    n+=1
print(sumv)

315

Q42) 1) Write a program that takes an integer input and classifies it as:
a) "Negative even" if it's negative and even
b) "Negative odd" if it's negative and odd
c) "Zero" if it's zero
d) "Positive even" if it's positive and even
e) "Positive odd" if it's positive and odd

In [109]:
n = int(input("enter nu: "))
if n == 0 :
    print("zero")
elif n%2 == 0:
    if n <0:
        print("neg even")
    if n>0 :
        print("pos even")
else:
    if n <0:
        print("neg odd")
    if n>0 :
        print("pos odd")

enter nu:  10

pos even

Q43) Accept a score from user. Based on the following conditions, generate the remarks
a) if score is between 0 to 40 then Remarks = Poor
b) if score is between 41 to 60 then Remarks = Average
c) if score is between 61 to 80 then Remarks = Good
d) if score is between 81 to 90 then Remarks = Excellent
e) if score is between 91 to 100 then Remarks = Outstanding
f) otherwise Remarks = Invalid Score

In [114]:
score = 100
if 0 <= score <=40:
    print("Poor")
elif 41 <= score <=60:
    print("Average")
elif 61 <= score <=80:
    print("Good")
elif 81 <= score <=90:
    print("Excellent")
elif 91 <= score <=100:
    print("Outstanding")
else:
    print("invalid score")

Outstanding

Q44) Accept a string from the user and return the total number of alphabets,digits, space and special characters in that string.

In [117]:
st = 'k@onika0099--  '
al = 0
digit = 0
sc = 0
for i in st:
    if i.isdigit():
        digit +=1
    elif i.isalpha():
        al +=1
    else:
        sc+=1
print('al',al)
print('digit',digit)
print('sc',sc)

al 6
digit 4
sc 5

Q45)  Generate a list containing all odd numbers between 10 and 25 (both inclusive)

In [119]:
odd_el = []
for i in range(10,26):
    if i %2 !=0:
        odd_el.append(i)
print(odd_el)

[11, 13, 15, 17, 19, 21, 23, 25]

Q46)  Remove all duplicates from list such that for each duplicate, single occurence remains

In [122]:
# a
list1 = [10,10,20,20,30,30,40,40,50,50]
list2 = list(set(list1))
print(list2)

[40, 10, 50, 20, 30]

In [123]:
# b 
list1 = [10,10,20,20,30,30,40,40,50,50]
list2 = []
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

[10, 20, 30, 40, 50]

Q47)  Seperate even and odd numbers from the below list. Store result in separate list.
num = [56,47,32,78,49,27,21,35,84]

In [126]:
num = [56,47,32,78,49,27,21,35,84]
odd_list = [i for i in num if i%2!=0]
even_list = [i for i in num if i%2==0]
print("odd_list",odd_list)
print("even_list",even_list)

odd_list [47, 49, 27, 21, 35]
even_list [56, 32, 78, 84]

Q48)  Consider a list of Sports from user(in lower case) and print even index sports in upper case and odd index sports in lower case.

In [128]:
sports = input().split()
for i in range(len(sports)):
    if i%2==0:
        print(sports[i].upper(),end = ' ')
    else:
        print(sports[i].lower(),end = ' ')

 Cricket Hockey Football Basketball Tennis VolleyBall

CRICKET hockey FOOTBALL basketball TENNIS volleyball

Q49)  For the given list, find all the even elements present at the odd index and all odd elements present at even index. Store result in a separate list. Sort even elements in desc order and odd elements in asc order
n = [24,57,78,25,83,95,24,80,21,20,24,27]

In [132]:
n = [24,57,78,25,83,95,24,80,21,20,24,27]
even_el = []
odd_el = []
for i in range(len(n)):
    if i%2!=0: # odd index
        if n[i]%2==0: # even element
            even_el.append(n[i])
    else: #even index 
        if n[i]%2!=0: # odd element
            odd_el.append(n[i])
even_el.sort(reverse = True)
odd_el.sort()
print('even_el',even_el)
print('odd_el',odd_el)

even_el [80, 20]
odd_el [21, 83]

Q50) Find all pair of 2 numbers whose sum when add becomes 20 from the given list
n = [8,2,11,10,9,12,6,21,5,4]

In [136]:
n = [8,2,11,10,9,12,6,21,5,4]
sum20 = []
for i in n:
    for k in n:
        if i+k == 20 and i!=k:
            sum20.append((i,k))
print(sum20)

[(8, 12), (11, 9), (9, 11), (12, 8)]

Q51) # Return the closing balance
# 1) total withdrawl should not exceed available  for that transaction

# Sample Input
# 7000         # initial_bal = bank bal
# 5            # n = number of transactions
# D 2000       # D 2000 => deposit of 2000
# w 3500       # W 3500 -> withdrawl of 3500
# d 4000
# w 1500
# W 2500

# Sample Output
# 5500

bal = int(input('Enter bank balance: '))  # 7000
n = int(input('Num of Trans: '))  # 5
for i in range(n):  # i = 0,1,2,3,4
    tran = input().split()  # D 3500  => list
    ttype,tamt = tran[0].lower(),int(tran[1])
    if ttype == 'd':
        bal = bal + tamt
        print('Avail Balance',bal)
    elif  ttype == "w" and bal > tamt :
        bal = bal - tamt
        print('Avail Balance',bal)
    else:
        print('Invalid Tran')
print('Final Balance',bal)

Q52) provide all the palindorme words
words = ['radar','finite','school','madam','fortunate','racecar']

In [188]:
words = ['radar','finite','school','madam','fortunate','racecar']
def pal_check(x):
    pal = []
    for i in x:
        if i == i[::-1]:
            pal.append(i)
    print(pal)

In [189]:
pal_check(words)

['radar', 'madam', 'racecar']

Q53)  find factorial of num n

In [192]:
n  = 5
f = 1
for i in range(1,n+1):
    f*=i
print(f)

120

Q54) Find sum upto n numbers (till 1) using recursion

In [193]:
def sumuptoN(n):
    if n==1:
        return 1
    else:
        return n+sumuptoN(n-1)

In [194]:
sumuptoN(5)

15

Q55)  Find factorial of n numbers using recurssion

In [195]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)

In [196]:
fact(5)

120

Q56) Write a Function to compute speed given distance and time. Accept distance and time as user inputs

In [141]:
def speed():
    dis = int(input("enter distance in m: "))
    time = int(input("enter time in s: "))
    speed = round(dis/time,2)
    print("speed is " , speed, 'm/s')

In [143]:
speed()

enter distance in m:  500
enter time in s:  20

speed is  25.0 m/s

Q57) Write a Function to print area of circle using its radius as user input

In [145]:
def area_cir():
    radius = int(input('enter radius: '))
    area = 3.14 * radius * radius 
    print('area as per the given radius',area,'m2')

In [147]:
area_cir()

enter radius:  10

area as per the given radius 314.0 m2

In [ ]:
Q58) Write a Function to print the diagonal and perimeter of rectangle. Accept length and area as user inputs

In [152]:
def diag_peri():
    len = int(input('enter len'))
    area = int(input('enter area'))
    breadth = area/len
    peri = round(2*(len + breadth),2)
    diag = round((len**2 + breadth **2)**0.5,2)
    print('perimeter is ', peri)
    print('diagnoal is ', diag)

In [153]:
diag_peri()

enter len 20
enter area 90

perimeter is  49.0
diagnoal is  20.5

Q59) Compute Electricity bill 

# Rules => Fixed charge = 250
# If consumption < 300 => charge = 0
# If 300<=consumption< 500 => charges = 10Rs per unit
# If consumption>=500 => charges = 15Rs per unit

In [164]:
def compute_bill(x):
    fx = 250
    if x < 300:
        bill = fx
    elif 300<= x < 500:
        ex_charges = (x-300) *10
        bill = fx + ex_charges
    else:
        ex_charges = 200*10 + (x-500)*15
        bill = fx + ex_charges
    print(bill)

In [167]:
compute_bill(495)

2200

In [197]:
Q60) Find square of a and b using lambda, a and b are parameters

In [199]:
w1 = lambda a,b : (a**2,b**2)

In [200]:
w1(6,7)

(36, 49)

Q61) using map and lambda
i) Add 10 to each number
ii) Add 10 to each even number and subtract 5 from each odd num
iii) Filter out all odd num from the list num
iv) For all the numbers divisible by 3 add 10, otherwise return -1 [-1,-1,25,34,22]

In [206]:
n = [10,20,30,40,45]
n5 = list(map(lambda x : x+10,n))
print(n5)

[20, 30, 40, 50, 55]

In [204]:
nEO = list(map(lambda x : x+10 if x%2==0 else x-5,n))
print(nEO)

[20, 30, 40, 50]

In [207]:
nfilter = list(filter(lambda x : x%2 !=0,n))
print(nfilter)

[45]

In [209]:
n = [7, 10, 15, 24, 12]
num = list(map(lambda x : x+10 if x%3 ==0 else -1, n)) 
num

[-1, -1, 25, 34, 22]

Q62) dates = ['2025/03/04','2024/02/11','2025/04/17','2024/01/29','2025/02/20','2024/04/24']
i) Find all dates where month is even
ii) Add 2 yrs to each date
iii) Find all dates where yr is even and date is odd

In [214]:
#i
dates = ['2025/03/04','2024/02/11','2025/04/17','2024/01/29','2025/02/20','2024/04/24']
y1 = list(filter(lambda x : int(x.split('/')[0])%2==0,dates))
y1

['2024/02/11', '2024/01/29', '2024/04/24']

In [217]:
# ii
y2 = list(map(lambda x : str(int(x.split('/')[0])+2) + x[4:],dates))
print(y2)

['2027/03/04', '2026/02/11', '2027/04/17', '2026/01/29', '2027/02/20', '2026/04/24']

In [218]:
#iii
y3 = list(filter(lambda x : int(x.split('/')[0])%2==0 and int(x.split('/')[2])%2!=0,dates))
y3

['2024/02/11', '2024/01/29']

Q63) s1 = ('alphabet','inflation','tariff','meeting','comprehension')
i) Find all words that contains no 'a'
ii) Find all words that contains multiple 'e'

In [225]:
# i
words = ('alphabet','inflation','tariff','meeting','comprehension')
w = list(filter(lambda x: "a" not in x,words))
print(w)

['meeting', 'comprehension']

In [227]:
# ii) Find all words that contains multiple 'e'
w2 = list(filter(lambda x: x.count("a")<1,words))
w2

['meeting', 'comprehension']

Q64) i) Find all key:value from d1 where key is div by 3
ii) Modify key:value from d1 such that 20 is added to value if key is even. Exclude remaining items
d1 = {10:50,11:80,12:120,13:150,14:180,15:200}

In [233]:
# i 
d1 = {10:50,11:80,12:120,13:150,14:180,15:200}
dict(filter(lambda x:  x[0]%3==0,d1.items()))

{12: 120, 15: 200}

In [242]:
# ii) Modify key:value from d1 such that 20 is added to value if key is even. Exclude remaining items
d3 = dict(filter(lambda x : x[0]%2==0, d1.items()))
d31 = dict(map(lambda x : (x[0],int(x[1])+20), d3.items()))
d31

{10: 70, 12: 140, 14: 200}

Q65) d = [12,23,34,23,12,12,45,34,45,56,34,34,23,12,56]

In [246]:
# 1
d = [12,23,34,23,12,12,45,34,45,56,34,34,23,12,56] 
h = {}
for i in d:
    h[i] = d.count(i)
print(h)

{12: 4, 23: 3, 34: 4, 45: 2, 56: 2}

In [248]:
# 2 
h1 = {i: d.count(i) for i in d}
print(h1)

{12: 4, 23: 3, 34: 4, 45: 2, 56: 2}

In [255]:
# 3
h0 = []
for i in d:
    h0.append(d.count(i))
h4 = dict(zip(d,h0))
print(h4)

{12: 4, 23: 3, 34: 4, 45: 2, 56: 2}

Q66) Write a function to compute SI given P,R and T as arguments

In [257]:
def cal_SI(p,r,t):
    return (p*r*t)/100

In [258]:
cal_SI(20,30,10)

60.0

Q67) Assume any given list of marks(all integers between 1 to 100), find the second highest marks obtained from a list of marks.

In [262]:
list1 = [40,50,30,89,76,56]
unique_marks = set(list1)
if len(unique_marks) < 2:
    print( "not enough elements")
else: 
    print(sorted(unique_marks, reverse = True)[1])

76

Q68) Create a function to generate a list containing common elements of two given lists.
w1 = [1,2,3,4,67,78]
w2 = [45,78,3,11,109]

In [265]:
def common_ele(w1,w2):
    common = []
    for i in w1:
        if i in w2:
            common.append(i)
    return common

In [266]:
w1 = [1,2,3,4,67,78]
w2 = [45,78,3,11,109]
common_ele(w1,w2)

[3, 78]

Q69) Write a program that takes a list of words and returns the length of longest word and print the longest word as well.
Assume any list of words

In [269]:
words = ['konika','hello','lovely','nidhi','goosssssip']
c = 0
for i in words:
    if c < len(i):
        c = len(i)
print(c)
print(i)

10
goosssssip

Q70) Sort even-placed elements (according to thier index) in decreasing and odd-placed in increasing order 
and store them in a separate list and display them as output. Assume any list of numbers

Q71) Find the difference between max value and min value in dict. Also find corresponding keys

In [274]:
d = {'a1':20,'a2':45,'a3':40,'a4':7,'a5':32}
maxv = max(d.values())
minv = min(d.values())
diff = maxv - minv
print(diff)
for k,v in d.items():
    if v ==maxv:
        print('max value key',k)
    if v == minv:
        print('min value key',k)

38
max value key a2
min value key a4

In [278]:
# or 
v = list(d.values())
k = list(d.keys())
maxv_index,minv_index = v.index(max(v)),v.index(min(v))
print('max value key',k[maxv_index])
print('min value key',k[minv_index])

max value key a2
min value key a4

Q5) Print words that start and end with same character
words = ['India','Australia','Europe','Argentina','Chile','Japan']

In [283]:
words = ['India','Australia','Europe','Argentina','Chile','Japan']
same_ch = []
for i in words:
    if i[0].lower() == i[-1].lower():
        same_ch.append(i)
print(same_ch)

['Australia', 'Europe', 'Argentina']